{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>List of APIs</h1>
    <ul>
        {% for appui in appui %}
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"> <button type="button"
                class="btn btn-success">{{ appui.type }}</button>
            {{ appui.name }} API: {{ appui.api }}</div><br>
            <pre><code class="language-{{ appui.code }}">{{ appui.code }}</code></pre>
        </div>
{% empty %}
<li>No APIs available.</li>
{% endfor %}
</ul>
</div>
{% endblock %}